<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/about_contact.css">
</head>
<body>
    <header>
        <a href="/" class="back-to-home">Home</a>
        <h1>About Us</h1>
    </header>
    <section class="content">
        <p>Welcome to Fresh_Mart app. We are committed to providing you with the best shopping experience. Our team works tirelessly to ensure you have access to fresh and quality products.</p>
        <p>Feel free to explore our app, browse our wide selection of groceries, and place your orders conveniently.</p>

        <h2>User Reviews</h2>
        <div class="review-card">
            <div class="user-review">
                <p class="user-name">Rahul Sinde</p>
                <p class="user-comment">"Excellent service! The app is easy to use, and the delivery was fast. I highly recommend it."</p>
            </div>
        </div>

        <div class="review-card">
            <div class="user-review">
                <p class="user-name">Mohan Mahajan</p>
                <p class="user-comment">"I love shopping on Fresh_Mart. They have a fantastic selection of organic products. Great job!"</p>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 Fresh_Mart</p>
    </footer>
</body>
</html>
