<!DOCTYPE html>
<html>
<head>
    <title>User Summary</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='summary.css') }}">

</head>
<body>
    <div class ="header">
        <h1>User Summary</h1>

        <div class="btn-field">
            <button onclick="window.location.href='user_dashboard';"
            button type="button">Home</button>
            
        </div>

        <div class="logout-button">
            
            <button onclick="window.location.href='/';" type="submit"><i class="fa fa-sign-out"></i> Logout</button>
        </div>
    </div>
    
    <div class="user-card">
        
        <p><strong>Username:</strong> {{ user_data.username }}</p>
        <p><strong>Email:</strong> {{ user_data.email }}</p>
    </div>   
        <div class="info-cards-container">
            <div class="info-card">
                <h2>Total Orders</h2>
                <p>{{ user_data.total_orders }}</p>
            </div>
            <div class="info-card">
                <h2>Total Purchase Amount</h2>
                <p>₹{{ user_data.total_purchase_amount }}</p>
            </div>

            <div class="info-card">
                <h2>Favorite Product</h2>
                <p>{{ user_data.favorite_product_name }}</p>
            </div>

        </div>
        

            <div class="user-chart">
                <img src="{{ chart_image_path }}" alt="Bar Chart">
            </div>
        
    </div>
</body>
</html>
